@model List<Collection>

<link rel="stylesheet" href="~/css/Shop/collection.css" />

<section class="products">
    <div class="container">
        <div class="collection-items">
            @foreach (var item in Model)
            {
                <div class="collection-item" data-slug="@($"{item.Slug}-cl{item.Id}")">
                    <img src="@item.Thumbnail" alt="@item.Name" />
                    <p class="text-center mt-3">@item.Name</p>
                </div>
            }
        </div>

    </div>
</section>
@section scripts{
    <script>
        $(document).ready(function () {
            $('.collection-item').on('click', function () {
                var slug = $(this).data('slug');
                window.location.href = '/bo-suu-tap/' + slug;
            });
        });
    </script>
}