<footer class="footer">
    <div class="container">
        <div class="footer-content row">

            <div class="col-xs-12 col-sm-3">
                <h3 class="footer-title">VỀ CHÚNG TÔI</h3>
                <div class="footer-section">
                    <p><strong>RYDERST</strong></p>
                    <p><strong>Địa chỉ:</strong>&nbsp;47 Phạm Tuấn Tài, Cầu Giấy, Hà Nội</p>
                    @* <p><strong>Mã số doanh nghiệp</strong>: 0108901419 do Sở kế hoạch và đầu tư thành phố Hà Nội cấp ngày 17/09/2019</p> *@
                    <p><strong>Điện thoại</strong>: 0837 145 956<br>&nbsp;</p>
                    @* <p><a href="http://online.gov.vn/Home/WebDetails/92526"><img src="/img/bocongthuong.png" alt=""></a></p> *@
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 footer-div footer-active">
                <h3 class="footer-title">CHÍNH SÁCH VÀ QUY ĐỊNH</h3>
                <div class="footer-section">
                    <p><a href="/chinh-sach-bao-mat" target="_blank" rel="noreferrer noopener"><span style="font-size:14px;">Chính sách bảo mật</span></a></p>
                    <p><a href="/chinh-sach-van-chuyen" target="_blank" rel="noreferrer noopener"><span style="font-size:14px;">Chính sách vận chuyển</span></a></p>
                    <p><a href="/hinh-thuc-thanh-toan" target="_blank" rel="noreferrer noopener"><span style="font-size:14px;">Hình thức thanh toán</span></a></p>
                    <p><a href="/chinh-sach-doi-tra" target="_blank" rel="noreferrer noopener"><span style="font-size:14px;">Chính sách đổi trả</span></a></p>          
                </div>
            </div>

            <div class="col-xs-12 col-sm-3 footer-div footer-active">
                <h3 class="footer-title">SOCIAL</h3>

                <div class="footer-section">
                    <ul class="navbar-social">
                        <li class="facebook">
                            <a aria-label="facebook" href="https://www.facebook.com/ryderstorevn" target="_blank" rel="nofollow">
                                <img loading="lazy" src="https://p7.hiclipart.com/preview/253/503/806/facebook-computer-icons-social-networking-service-login-facebook-icon.jpg" width="30" alt="facebook">
                            </a>
                        </li>
                        <li class="social-shopee">
                            <a aria-label="shopee" href="https://shope.ee/AUSfr3wXZC" target="_blank" rel="nofollow">
                                <img loading="lazy" src="https://www.freepnglogos.com/uploads/shopee-logo/shopee-bag-logo-free-transparent-icon-17.png" width="30" alt="shopee">
                            </a>
                        </li>
                        <li class="social-instagram">
                            <a aria-label="shopee" href="https://www.instagram.com/ryder.st.84/" target="_blank" rel="nofollow">
                                <img loading="lazy" src="https://upload.wikimedia.org/wikipedia/commons/a/a5/Instagram_icon.png" width="30" alt="instagram">
                            </a>
                        </li>

                    </ul>
                </div>
                
            </div>

            <div class="col-xs-12 col-sm-3 footer-div">
                <h3 class="footer-title">FANPAGE CHÚNG TÔI</h3>
                <div class="footer-content" style="display: block;">
                    <iframe loading="lazy" src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fryderstorevn&amp;width=300&amp;" height="215"></iframe>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2025 Ryder Store.</p>
        </div>
    </div>
</footer>