@model List<string>

<div class="tab-pane fade" id="product" role="tabpanel">
    <div class="table-scroll" style="max-height:calc(100wh - 270px); overflow:auto">
        <table class="w-100" id="tblProduct">
            <thead>
                <tr>
                    <th class="text-center width50px"><input type="checkbox" class="check-all" name="CheckAll" /></th>
                    <th class="text-center width50px">STT</th>
                    <th class="text-center width200px">Mã sản phẩm</th>
                    <th class="text-center">Tên sản phẩm</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center" colspan="4">Không có dữ liệu</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>