<div class="container">
    <h1 style="text-align: center;"><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">CH&Iacute;NH S&Aacute;CH BẢO MẬT</span></strong></h1>
    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;Ryder</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;tạo lập ch&iacute;nh s&aacute;ch bảo mật n&agrave;y để chứng minh cho cam kết về sự an to&agrave;n bảo mật của ch&uacute;ng t&ocirc;i với qu&yacute; kh&aacute;ch h&agrave;ng. Qua ch&iacute;nh s&aacute;ch bảo mật th&ocirc;ng tin n&agrave;y, ch&uacute;ng t&ocirc;i muốn qu&yacute; kh&aacute;ch hiểu về việc ch&uacute;ng t&ocirc;i thu thập th&ocirc;ng tin kh&aacute;ch h&agrave;ng, v&agrave; sử dụng những th&ocirc;ng tin n&agrave;y như thế n&agrave;o. Ch&uacute;ng t&ocirc;i cũng hy vọng qu&yacute; kh&aacute;ch sẽ đọc thật kỹ những điều ch&uacute;ng t&ocirc;i m&ocirc; tả dưới đ&acirc;y.</span></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">1. Mục đ&iacute;ch sử dụng th&ocirc;ng tin</span></strong></h2>
    <ul>
        <li style="list-style-type:none;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Th&ocirc;ng tin c&aacute; nh&acirc;n của kh&aacute;ch h&agrave;ng được sử dụng đ&uacute;ng v&agrave;o mục đ&iacute;ch của việc thu thập v&agrave; cung cấp;</span></p>
        </li>
        <li style="list-style-type:none;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Mọi việc thu thập v&agrave; sử dụng th&ocirc;ng tin đ&atilde; thu thập được của Kh&aacute;ch h&agrave;ng đều được th&ocirc;ng qua &yacute; kiến của Kh&aacute;ch h&agrave;ng</span></p>
        </li>
        <li style="list-style-type:none;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Chỉ sử dụng c&aacute;c th&ocirc;ng tin được Kh&aacute;ch h&agrave;ng đ&atilde; cung cấp cho Ryder &nbsp;kh&ocirc;ng sử dụng c&aacute;c th&ocirc;ng tin của Kh&aacute;ch h&agrave;ng được biết đến theo c&aacute;c phương thức kh&aacute;c;</span></p>
        </li>
        <li style="list-style-type:none;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Thời gian lưu trữ v&agrave; bảo mật th&ocirc;ng tin: 36 th&aacute;ng</span></p>
        </li>
    </ul>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Chỉ cho ph&eacute;p c&aacute;c đối tượng sau được tiếp cận với th&ocirc;ng tin của Kh&aacute;ch h&agrave;ng:</span></p>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Người thực hiện việc chăm s&oacute;c Kh&aacute;ch h&agrave;ng đ&atilde; sử dụng h&agrave;ng h&oacute;a, dịch vụ của Ryder</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Người tiếp nhận v&agrave; xử l&yacute; c&aacute;c thắc mắc của Kh&aacute;ch h&agrave;ng trong qu&aacute; tr&igrave;nh sử dụng h&agrave;ng h&oacute;a, dịch vụ của Ryder;</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Cơ quan Nh&agrave; nước c&oacute; thẩm quyền</span></p>
        </li>
    </ul>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Trong qu&aacute; tr&igrave;nh ch&agrave;o h&agrave;ng, quảng c&aacute;o v&agrave; chăm s&oacute;c Kh&aacute;ch h&agrave;ng, Kh&aacute;ch h&agrave;ng ho&agrave;n to&agrave;n c&oacute; thể gửi y&ecirc;u cầu dừng việc sử dụng th&ocirc;ng tin theo c&aacute;ch thức tương ứng m&agrave; hoạt động ch&agrave;o h&agrave;ng, quảng c&aacute;o v&agrave; chăm s&oacute;c kh&aacute;ch h&agrave;ng gửi tới Kh&aacute;ch h&agrave;ng.</span></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">2. Bảo Mật Th&ocirc;ng Tin Kh&aacute;ch H&agrave;ng</span></strong></h2>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Kh&aacute;ch h&agrave;ng vui l&ograve;ng chỉ cung cấp đ&uacute;ng v&agrave; đủ c&aacute;c th&ocirc;ng tin theo y&ecirc;u cầu của Ryder, đặc biệt tr&aacute;nh cung cấp c&aacute;c th&ocirc;ng tin li&ecirc;n quan đến t&agrave;i khoản ng&acirc;n h&agrave;ng. Kh&aacute;ch h&agrave;ng ho&agrave;n to&agrave;n chịu tr&aacute;ch nhiệm về t&iacute;nh trung thực v&agrave; ch&iacute;nh x&aacute;c đối với c&aacute;c th&ocirc;ng tin đ&atilde; cung cấp cũng như tự chịu tr&aacute;ch nhiệm nếu cung cấp c&aacute;c th&ocirc;ng tin ngo&agrave;i y&ecirc;u cầu.</span></p>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Trong trường hợp Kh&aacute;ch h&agrave;ng cung cấp th&ocirc;ng tin c&aacute; nh&acirc;n của m&igrave;nh cho nhiều tổ chức, c&aacute; nh&acirc;n kh&aacute;c nhau, Kh&aacute;ch h&agrave;ng phải y&ecirc;u cầu c&aacute;c b&ecirc;n li&ecirc;n quan c&ugrave;ng bảo mật. Mọi th&ocirc;ng tin c&aacute; nh&acirc;n của Kh&aacute;ch h&agrave;ng khi bị tiết lộ g&acirc;y thiệt hại đến Kh&aacute;ch h&agrave;ng, Kh&aacute;ch h&agrave;ng phải tự x&aacute;c định được nguồn tiết lộ th&ocirc;ng tin. Ryder kh&ocirc;ng chịu tr&aacute;ch nhiệm khi th&ocirc;ng tin Kh&aacute;ch h&agrave;ng bị tiết lộ m&agrave; kh&ocirc;ng c&oacute; căn cứ x&aacute;c đ&aacute;ng thể hiện Ryder l&agrave; b&ecirc;n tiết lộ th&ocirc;ng tin.</span></p>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Kh&aacute;ch h&agrave;ng tự bảo quản t&agrave;i khoản đăng nhập tr&ecirc;n c&aacute;c trang v&agrave; ứng dụng thương mại điện tử của Ryder</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ryder kh&ocirc;ng chịu tr&aacute;ch nhiệm về việc tiết lộ th&ocirc;ng tin của Kh&aacute;ch h&agrave;ng nếu Kh&aacute;ch h&agrave;ng kh&ocirc;ng tu&acirc;n thủ c&aacute;c y&ecirc;u cầu tr&ecirc;n.</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Mọi tranh chấp xảy ra giữa Kh&aacute;ch h&agrave;ng v&agrave; Ryder sẽ được h&ograve;a giải. Nếu h&ograve;a giải kh&ocirc;ng th&agrave;nh sẽ được giải quyết tại T&ograve;a &aacute;n c&oacute; thẩm quyền v&agrave; tu&acirc;n theo ph&aacute;p luật Việt Nam.</span></p>
        </li>
    </ul>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">3. Điều khoản</span></strong></h2>
    <h3><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">3.1 Giới thiệu Website</span></strong></h3>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Khi qu&yacute; kh&aacute;ch h&agrave;ng truy cập v&agrave;o trang website của ch&uacute;ng t&ocirc;i c&oacute; nghĩa l&agrave; qu&yacute; kh&aacute;ch đồng &yacute; với c&aacute;c điều khoản n&agrave;y. Trang web c&oacute; quyền thay đổi, chỉnh sửa, th&ecirc;m hoặc lược bỏ bất kỳ phần n&agrave;o trong Điều khoản mua b&aacute;n h&agrave;ng h&oacute;a n&agrave;y, v&agrave;o bất cứ l&uacute;c n&agrave;o. C&aacute;c thay đổi c&oacute; hiệu lực ngay khi được đăng tr&ecirc;n trang web m&agrave; kh&ocirc;ng cần th&ocirc;ng b&aacute;o trước. V&agrave; khi qu&yacute; kh&aacute;ch tiếp tục sử dụng trang web, sau khi c&aacute;c thay đổi về Điều khoản n&agrave;y được đăng tải, c&oacute; nghĩa l&agrave; qu&yacute; kh&aacute;ch chấp nhận với những thay đổi đ&oacute;.</span></p>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Qu&yacute; kh&aacute;ch h&agrave;ng vui l&ograve;ng kiểm tra thường xuy&ecirc;n để cập nhật những thay đổi của ch&uacute;ng t&ocirc;i.</span></p>
    <h3><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">3.2 Hướng dẫn sử dụng website</span></strong></h3>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Khi v&agrave;o web của ch&uacute;ng t&ocirc;i, kh&aacute;ch h&agrave;ng đảm bảo c&oacute; đầy đủ h&agrave;nh vi d&acirc;n sự để thực hiện c&aacute;c giao dịch mua b&aacute;n h&agrave;ng h&oacute;a theo quy định hiện h&agrave;nh của ph&aacute;p luật Việt Nam.</span></p>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Trong suốt qu&aacute; tr&igrave;nh đăng k&yacute;, qu&yacute; kh&aacute;ch đồng &yacute; nhận email quảng c&aacute;o từ website. Nếu kh&ocirc;ng muốn tiếp tục nhận mail, qu&yacute; kh&aacute;ch c&oacute; thể từ chối bằng c&aacute;ch nhấp v&agrave;o đường link ở dưới c&ugrave;ng trong mọi email quảng c&aacute;o.</span></p>
    <h3><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">3.3 Thanh to&aacute;n</span></strong></h3>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Website Ryder chỉ c&oacute; duy nhất h&igrave;nh thức thanh to&aacute;n khi nhận h&agrave;ng( COD), người mua nhận h&agrave;ng rồi mới thanh to&aacute;n tiền qua b&ecirc;n vận chuyển)</span></p>
</div>