<div class="container">
    <h1 style="text-align: center;"><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">CH&Iacute;NH S&Aacute;CH VẬN CHUYỂN</span></strong></h1>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ryder lu&ocirc;n cố gắng giao h&agrave;ng nhanh ch&oacute;ng &ndash; an to&agrave;n &ndash; đ&uacute;ng hẹn đến tay kh&aacute;ch h&agrave;ng tr&ecirc;n to&agrave;n quốc. Dưới đ&acirc;y l&agrave; c&aacute;c th&ocirc;ng tin về&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">thời gian xử l&yacute;, đơn vị vận chuyển, ph&iacute; giao h&agrave;ng v&agrave; quy tr&igrave;nh nhận h&agrave;ng</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">:</span></p>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">I. THỜI GIAN XỬ L&Yacute; V&Agrave; GIAO H&Agrave;NG</span></strong></h2>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Thời gian xử l&yacute; đơn h&agrave;ng:</span></strong><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;"><br></span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Từ&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">1&ndash;2 ng&agrave;y l&agrave;m việc</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;(kh&ocirc;ng t&iacute;nh Chủ nhật &amp; ng&agrave;y lễ) kể từ khi kh&aacute;ch&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">x&aacute;c nhận đơn h&agrave;ng qua tin nhắn/Zalo/call</span></strong></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Thời gian giao h&agrave;ng:</span></strong></p>
            <ul>
                <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
                    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Nội th&agrave;nh HCM/H&agrave; Nội:</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;1&ndash;3 ng&agrave;y</span></p>
                </li>
                <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
                    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ngoại th&agrave;nh v&agrave; c&aacute;c tỉnh kh&aacute;c:</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;2&ndash;4 ng&agrave;y t&ugrave;y khu vực</span></p>
                </li>
                <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
                    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Một số khu vực đặc biệt (v&ugrave;ng s&acirc;u, hải đảo&hellip;):</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;5&ndash;7 ng&agrave;y</span></p>
                </li>
            </ul>
        </li>
    </ul>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">II. ĐƠN VỊ VẬN CHUYỂN</span></strong></h2>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ryder hợp t&aacute;c với c&aacute;c đơn vị giao h&agrave;ng uy t&iacute;n v&agrave; nhanh ch&oacute;ng:</span></p>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Giao H&agrave;ng Nhanh (GHN)</span></strong></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Shopee Express (SPX)</span></strong></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Viettel Post</span></strong></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Nội th&agrave;nh H&agrave; Nội (giao nhanh trong ng&agrave;y khi c&oacute; y&ecirc;u cầu):&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ahamove, Hey U</span></strong></p>
        </li>
    </ul>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Kh&aacute;ch c&oacute; thể chọn đơn vị vận chuyển ưu ti&ecirc;n nếu c&oacute; nhu cầu đặc biệt.</span></p>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">III. PH&Iacute; VẬN CHUYỂN</span></strong></h2>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">HCM &amp; H&agrave; Nội nội th&agrave;nh:</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;từ 25.000đ &ndash; 30.000đ</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ngoại th&agrave;nh v&agrave; c&aacute;c tỉnh:</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;từ 30.000đ &ndash; 45.000đ t&ugrave;y khu vực v&agrave; khối lượng đơn h&agrave;ng</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Giao hỏa tốc (Ahamove/Grab):</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;b&aacute;o ph&iacute; theo thời điểm thực tế</span></p>
        </li>
    </ul>
    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Miễn ph&iacute; ship</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;tuỳ theo chương tr&igrave;nh khuyến m&atilde;i hoặc Hạng th&agrave;nh vi&ecirc;n&ndash; sẽ th&ocirc;ng b&aacute;o tr&ecirc;n fanpage/website.</span></p>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">IV. LƯU &Yacute; KHI NHẬN H&Agrave;NG</span></strong></h2>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Kh&aacute;ch c&oacute; thể kiểm tra t&igrave;nh trạng&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">bao b&igrave; b&ecirc;n ngo&agrave;i</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;trước khi thanh to&aacute;n (COD)</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Kh&ocirc;ng mở sản phẩm b&ecirc;n trong trước khi thanh to&aacute;n (theo quy định của đơn vị vận chuyển)</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Nếu đơn h&agrave;ng c&oacute; dấu hiệu bị r&aacute;ch, ướt, b&oacute;p m&eacute;o&hellip; qu&yacute; kh&aacute;ch&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">chụp ảnh v&agrave; b&aacute;o ngay với Ryder để được hỗ trợ</span></strong></p>
        </li>
    </ul>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">V. C&Aacute;C T&Igrave;NH HUỐNG ĐẶC BIỆT</span></strong></h2>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Trường hợp giao kh&ocirc;ng th&agrave;nh c&ocirc;ng do&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">kh&aacute;ch kh&ocirc;ng nghe m&aacute;y nhiều lần hoặc đổi địa chỉ đột xuất</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">, đơn h&agrave;ng sẽ bị ho&agrave;n về v&agrave; Ryder sẽ li&ecirc;n hệ lại x&aacute;c nhận lần cuối.</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Đơn h&agrave;ng ho&agrave;n về qu&aacute; 7 ng&agrave;y m&agrave; kh&aacute;ch kh&ocirc;ng phản hồi sẽ được xem l&agrave;&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">hủy đơn tự động</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">.</span></p>
        </li>
    </ul>
    <p><br></p>
    <hr>
    <p><br></p>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">VI. LI&Ecirc;N HỆ HỖ TRỢ</span></strong></h2>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Hotline/Zalo: 0985 410 486</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Fanpage: Ryder</span></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Email: Ryderst@gmail.com</span></p>
        </li>
    </ul>
    <p><br></p>
    <hr>
    <p><br></p>
    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Ryder</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">&nbsp;tr&acirc;n trọng sự tin y&ecirc;u của kh&aacute;ch h&agrave;ng v&agrave; lu&ocirc;n nỗ lực giao h&agrave;ng nhanh nhất để phục vụ bạn thật tốt!</span></p>
</div>