<div class="container">
    <h1 style="text-align: center;"><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">H&Igrave;NH THỨC THANH TO&Aacute;N</span></strong></h1>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">A. MUA H&Agrave;NG TRỰC TIẾP</span></strong></h2>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Đối với c&aacute;c bạn đang ở TP. H&agrave; Nội th&igrave; h&atilde;y đến ngay cửa h&agrave;ng Ryder &nbsp;để tham quan v&agrave; mua sắm tại địa chỉ:&nbsp;</span></p>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; 2 sự lựa chọn, Qu&yacute; kh&aacute;ch c&oacute; thể chọn địa điểm bất kỳ thuận tiện cho việc di chuyển của qu&yacute; kh&aacute;ch:</span></p>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">47 Phạm Tuấn T&agrave;i, Phường Nghĩa T&acirc;n, Cầu Giấy, HN</span></strong></p>
        </li>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">227 Nguyễn Tr&atilde;i, Phường Thượng Đ&igrave;nh, Quận Thanh Xu&acirc;n, HN</span></strong></p>
        </li>
    </ul>
    <h2><strong><span style="color:#222222;font-size:11pt;font-family:Arial,sans-serif;">B. KH&Aacute;CH H&Agrave;NG MUA ONLINE</span></strong></h2>
    <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Qu&yacute; kh&aacute;ch h&agrave;ng c&oacute; h&igrave;nh thức thanh to&aacute;n:</span></p>
    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">Thanh to&aacute;n tiền mặt khi nhận h&agrave;ng:</span></strong></p>
    <ul>
        <li style="list-style-type:disc;color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">
            <p><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">C&aacute;c đơn h&agrave;ng của ch&uacute;ng t&ocirc;i đều được vận chuyển th&ocirc;ng qua h&igrave;nh thức&nbsp;</span><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">COD</span></strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">, do đ&oacute; qu&yacute; kh&aacute;ch chỉ phải thanh to&aacute;n l&uacute;c nhận h&agrave;ng (nh&acirc;n vi&ecirc;n giao h&agrave;ng sẽ trực tiếp thu tiền khi giao h&agrave;ng đến địa chỉ m&agrave; qu&yacute; kh&aacute;ch y&ecirc;u cầu).</span></p>
        </li>
    </ul>
    <p><strong><span style="color:#646464;font-size:11pt;font-family:Roboto,sans-serif;">H&atilde;y li&ecirc;n hệ ngay với ch&uacute;ng t&ocirc;i qua hotline: 0985 410 486 khi c&oacute; bất cứ vấn đề g&igrave; về giao nhận h&agrave;ng</span></strong></p>
</div>