<div class="tab-pane fade" id="image" role="tabpanel">
    <!-- Nội dung tab Hình ảnh -->
    <div id="fileUpload" class="file-container">
        <label for="fileUpload-1" class="file-upload">
            <div>
                <i class="material-icons-outlined">cloud_upload</i>
                <p>Drag &amp; Drop Files Here</p>
                <span>OR</span>
                <div>Browse Files</div>
            </div>
            <input type="file" id="fileUpload-1" name="[]" multiple="" hidden="">
        </label>
    </div>
    <div style="max-height:400px; overflow:auto">
        <table class="w-100" id="tblImg">
            <thead>
                <tr>
                    <th class="text-center width50px">STT</th>
                    <th class="text-center">Tên file</th>
                    <th class="text-center width100px">Xem trước</th>
                    <th class="text-center width100px">Kích thước</th>
                    <th class="text-center width50px">#</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>